.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

form {
  display: flex;
  flex-direction: column;
}

input {
  border-width: .15rem;
  border-radius: .4rem;
  padding: .2rem;
}

button {
  border-width: .15rem;
  border-radius: .4rem;
  padding: .2rem;
  margin: 1rem 3rem;
  background-color: #c9c9d6;
  cursor: pointer;
}

.Error {
  --tw-text-opacity: 1;
  color: rgb(219 39 119/var(--tw-text-opacity));
  font-size: .875rem;
  line-height: 1.25rem;
  border-color: rgb(219 39 119/var(--tw-text-opacity));
}
